<div class="row" xmlns:th="http://www.thymeleaf.org">
  <div class="col-sm-9 blog-header">
    <h1 class="blog-title">The Vulnerable Blog</h1>
    <p class="lead blog-description">The vulnerable blog for learning purpose</p>
  </div>
  <div class="col-sm-3 blog-header">
    <div class="blog-header well">
      <form class="form-inline" action="search.php">
      <label>Search in article / content</label>
      <div class="input-group">
        <input type="text" class="form-control" name="q" placeholder="text to search" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>
    </div>
  </div>
</div>
